html {
    font-family: 'Roboto', sans-serif;
}

#generation {
    font-size: 25;
    clear: both;
    text-align: center;
}

#grid {
    border-collapse: collapse;
}

#grid td {
    border: 1px dotted #ccc;
}

td._0 {
    background-color: white;
}

td._1 {
    background-color: green;
}

td._2 {
    background-color: blue;
}

#app-wrap {

    width: 500px;
}

#dd-container {
    width: 60px;
}

#grid-wrap {
    position: relative;
    width: 500px;
    float: left;
}

#grid-wrap table {
    position: relative;
    z-index: 10;
}

#controls-wrap {
    width: 500 px;
    float: right;
    text-align: center;
    margin-right: 150px;
}

#page-wrap {
    width: 1100px;
    margin: 60px auto;
}

#pagination,
#looping,
#refreshForm,
h2,
#presetDropDown {
    position: relative;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

#prev,
#next {
    margin-left: 10px;
    padding-left: 63px;
    padding-right: 63px;
}

#loop,
#stop,
#presetDropDown {
    margin-left: 10px;
    padding-left: 62px;
    padding-right: 62px;
}

#presetDropDown {
    margin-right: 78px;
}

#or {
    margin-right: 160px;
}


/* Material buttons */
button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #2196F3;
}

#loop {
    background: #4CAF50;
}

#stop {
    background: #f44336;
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}