.field-container {
  position: relative;
  width: 60px;
  margin-top:10px;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}
.field {
  text-align: center;
  display:block;
  width:100%;
  padding:15px 5px 0;
  border:none;
  font-size:18px;
}
.field:focus {
  outline: 0;
}
.floating-label {
  position:absolute;
  pointer-events:none;
  top: 5px;
  left:10px;
  font-size: 10px;
  opacity:0;
  background-color: white;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.field:valid + .floating-label {
  opacity:1;
  top:-5px;
  color: #9e9e9e;
}

.field:focus + .floating-label {
  color: #03a9f4;
}

.field-underline {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:-5px;
  border:1px solid #9e9e9e;
  z-index: -1;
  padding:10px 10px 0;
}
.field:focus + .floating-label + .field-underline {
  border-color:#03a9f4;
}

.width-container, .height-container, .semicolon {
    float: left;
}

.semicolon {
    padding:25px 5px 0;
}

.inputs {
    position: relative;
    float: left;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}