<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width"></meta>
        <title>Game of Life</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="../static/js/grid.js" th:src="@{/js/grid.js}"></script>
        <link href="../static/css/grid-styles.css" th:href="@{/css/grid-styles.css}" rel="stylesheet" type="text/css"/>
        <link href="../static/css/inputs.css" th:href="@{/css/inputs.css}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css"/>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>

        <script th:inline="javascript">
            $(document).ready(function() {
                init([[${initialHeight}]], [[${initialWidth}]]);
                initDropdown([[${presets}]]);
                submitRefresh();
            });
        </script>
    </head>
    <body>
        <div id="page-wrap">
            <h3 id="generation">Generation:   <span id="generationId"></span></h3>

            <div id="app-wrap">
                <div id="grid-wrap">
                    <table id="grid"></table>
                </div>
            </div>

            <div id="controls-wrap">
                <div id="pagination">
                    <button type="button" id="prev" th:onclick="'prev();'">PREV</button>
                    <button type="button" id="next" th:onclick="'next();'">NEXT</button>
                </div>
                <div id="looping">
                    <button type="button" id="stop" th:onclick="'stop();'">STOP</button>
                    <button type="button" id="loop" th:onclick="'loop();'">LOOP</button>
                </div>

                <form action="POST" id="refreshForm">
                    <div class="inputs">
                        <div class="width-container field-container">
                            <input type="number" required="" id="width" class="field"
                                   placeholder="X" min="10" max="100"/>
                            <label class="floating-label">Width</label>
                            <div class="field-underline"></div>
                        </div>
                        <span class="semicolon">:</span>
                        <div class="height-container field-container">
                            <input type="number" required="" id="height" class="field"
                                   placeholder="Y" min="10" max="100"/>
                            <label class="floating-label">Height</label>
                            <div class="field-underline"></div>
                        </div>
                    </div>
                    <button type="submit">REFRESH</button>
                </form>
                <h2 id="or">OR</h2>
                <div id="insert-dropdown"></div>
            </div>
        </div>
    </body>

</html>